$page-button-edge-distance: 4%;

.Prize-View {
  width: 100vw;
  height: 100vh;

  background-color: rgba(60,60,60,1);

  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
}

.prize-tile-container {
  width: 80%;
  height: 85%;
  margin: 0px auto;
  padding-top: 2%;
  position: relative;
  opacity: 1;

  display: flex;
  flex-wrap: wrap;
}

.page-control {
  width: 30px;
  display: block;

  position: absolute;
  top: 50%;
  transform:translateY(-50%);
}

.page-left {
  left: $page-button-edge-distance;
}

.page-right {
  right: $page-button-edge-distance;
}
