.App * {
  box-sizing: border-box; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.section-title {
  margin: 0.5em 0px 0px 0px;
  color: white; }

.section-sub-title {
  margin: 0.5em 0px;
  color: white; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.opacity-fade {
  transition: opacity, 1s ease; }
