.Tile {
  display: inline-block;
  width: 25vw;
  position: relative;

  background-color: teal;
  float: left;

  .tile-name {
    width: 90%;
    margin: 0px;

    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,1);

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .tile-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
  }

  .tile-overlay-locked {
    @extend .tile-overlay;
    background-color: rgba(160,0,0,0.8)
  }

  .locked {
    width: 70%;
    height: 15%;
    background-color: rgba(255,255,255,0.8);
    border-radius: 3px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 5%;

    img {
      display: block;
      max-height: 80%;
    }

    p {
      margin: 0px 5px;
      padding: 0px;
      color: black;
    }
  }

  .sale-badge {
    display: block;
    width: 35%;
    margin: 0px;
    position: absolute;

    top: -3%;
    left: -10%;
  }
}
