.HomeNavigation {
  background-color: #3f3f3f; }

.moduleSection {
  display: block;
  width: 100vw;
  margin: 0px;
  padding: 0px; }

.navigationContainer {
  height: 10vh; }

.HomeNavigationDisplay {
  height: 90vh;
  max-height: 90vh; }

.navigationTabs {
  width: 25%;
  height: 100%;
  color: white;
  list-style: none;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center; }
  .navigationTabs p {
    margin: 0px; }

.navigationTabs--selected {
  background-color: teal; }
