.HomeNavigation {
  background-color: rgba(63,63,63,1);
}
.moduleSection {
  display: block;

  width: 100vw;

  margin: 0px;
  padding: 0px;
}

.navigationContainer {
  height: 10vh;
}

.HomeNavigationDisplay {
  height: 90vh;
  max-height: 90vh;
}

.navigationTabs {
  width: 100/4 * 1%;
  height: 100%;
  color: white;

  list-style: none;
  float: left;

  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 0px;
  }
}

.navigationTabs--selected {
  background-color: teal;
}
