.Reward-view {
  height: 100%;
  text-align: center; }

.Tile {
  height: 95%;
  margin: 0px 10px;
  position: relative;
  border-radius: 3px;
  box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.9);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top; }
  .Tile .tile-image {
    display: block;
    max-width: 70%;
    margin-top: 10px;
    margin-bottom: 10px; }

.Prize-Tile {
  width: 14%;
  height: 15%;
  margin: 0px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }
  .Prize-Tile img {
    display: block;
    max-width: 70%;
    margin-bottom: 10px; }
  .Prize-Tile .tile-name {
    margin: 0px;
    font-size: 0.5em;
    color: white;
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%); }
  .Prize-Tile .prize-quantity {
    margin: 0px;
    color: wheat;
    position: absolute;
    bottom: 0%;
    right: -5%; }

.h-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.h-center-absolute {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#rewardHeader {
  margin: 10px 0px;
  padding: 0px; }

#lockOverlay, #prizeOverlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px; }

.overlay-info {
  width: 50%;
  height: 50%;
  padding: 10px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center; }

.overlay-close {
  width: 5%;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px; }

.h-menu-container {
  overflow-x: scroll;
  text-align: initial;
  height: 90%;
  padding-top: 1%; }
  .h-menu-container::-webkit-scrollbar {
    display: none; }

.h-menu {
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center; }

.error-message {
  width: 90%;
  margin: 10px auto;
  text-align: center; }
